<launch>
	<arg name="pcap_file"  default=""/>
	<arg name="lidar_ip" default="192.168.30.40"/>
	<arg name="lidar_recv_port"  default="2368"/>
	<arg name="gps_port"  default="10110"/>
	<arg name="start_angle"  default="0"/>
	<arg name="lidar_type" default=""/>
	<arg name="pcldata_type" default="0"/>
	<arg name="publish_type" default="both"/>
	<arg name="timestamp_type" default=""/>
	<arg name="use_rosbag" default="true"/>
	<arg name="lidar_correction_file"  default=""/>
	<arg name="time_shift_threshold"  default="10"/>
	<arg name="frame_id" default="hesai"/>
	<env name="TZ" value="9"/>

	<node pkg="hesai_lidar" name="$(anon hesai_lidar)" type="hesai_lidar_node" output="log" >     <!-- output="log" -->
		<param name="pcap_file" value="$(arg pcap_file)"/>
		<param name="lidar_ip" value="$(arg lidar_ip)"/>
		<param name="lidar_recv_port" value="$(arg lidar_recv_port)"/>
		<param name="gps_port"  value="$(arg gps_port)"/>
		<param name="start_angle" value="$(arg start_angle)"/>
		<param name="lidar_type"  value="$(arg lidar_type)"/>
		<param name="pcldata_type"  value="$(arg pcldata_type)"/>
		<param name="timestamp_type"  value="$(arg timestamp_type)"/>
		<param name="use_rosbag"  value="$(arg use_rosbag)"/>
		<param name="frame_id"  value="$(arg frame_id)"/>
		<param name="lidar_correction_file"  value="$(arg lidar_correction_file)"/>
		<param name="time_shift_threshold" value="$(arg time_shift_threshold)"/>
	</node>
</launch>